
<h1>Hello!</h1>
<div>
  <p>The 2nd Annual Bushwick Arts Festival is here!</p>
  <p>This festival is FREE for all to attend</p>
  <p>The opening party is Friday 6pm-9pm at 56 Bogart St (entrance next to Mary Meyer) at BLAM Gallery. </p>
  <p> Come hang out and pick up a map!</p>
</div>

<p><small>View <a href="https://batchgeo.com/map/62a5eabb7d88ae264f464517a83ae7b8">BAF2017</a> in a full screen map.  Click on markers or scroll for details.</small></p>

<p><iframe src="//batchgeo.com/map/62a5eabb7d88ae264f464517a83ae7b8" frameborder="5px" width="100%" height="550" style="border:6px solid #EF4836;"></iframe></p>

<a class="nav-link" href="https://www.facebook.com/bushwickartsfestival/" style="width:200px;">
  <i class="fa fa-facebook-square  fa-4x" aria-hidden="true"></i>
</a>
