img{
  border:5px solid white;
  padding:4px;
  border-radius:30px;
}
nav{display:inline-block;}
a{
  color:white;
  font-weight: bold;
  stroke: 1px #D91E18;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link{
  color:#D91E18;
  background-color: white;
  transition: .2s;
  background-color:none;
  border-radius:50px;
}

.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover{

color:white;
background-color: #D91E18;
border-radius:80px;
transition: .4s;

box-shadow:
                1px 1px #F27935,
                2px 2px #F27935,
                3px 3px #F27935;
}
